$primary: #e4c1ae;
$dark: #121212;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.darker {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1212125c;
}

.darker-active {
  opacity: 1;
  visibility: visible;
}
body {
  height: 100vh;

  section.articles {
    max-width: 1440px;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .base-article {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 200px;
      .article-text {
        margin-top: 1.5rem;

        h1 {
          font-size: 2.8rem;
        }
        p,
        button {
          font-size: 1.4rem;
        }
        p {
          line-height: 1.8rem;
          margin-top: 1rem;
          font-weight: 300;
        }

        button {
          margin-top: 1.5rem;
          margin-right: auto;
          border: none;
          padding: 1.4rem 2.8rem;
          border-radius: 32px;
          background-color: $primary;
          color: white;
          cursor: pointer;

        }
      }
    }

    .modal {
      position: fixed;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 210px;
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column wrap;
      background-color: white;

      p,
      h3 {
        margin-left: 2rem;
      }
      p,
      .clicks-number,
      .reset {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 2.2rem;
      }
      .clicks-number {
        font-weight: 700;
      }
      p {
        margin-top: 2rem;
        padding-right: 1rem;
        font-weight: 300;
      }
      button.hide-modal {
        position: absolute;
        top: 1rem;
        right: 1rem;
        user-select: none;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 2rem;

      }
      button.reset {
        color: red;
        font-weight: 700;
        cursor: pointer;
        background: none;
        border: none;
        margin-left: 3rem;
        margin-top: 2rem;
      }
    }

    .show-modal {
      opacity: 1;
      visibility: visible;
    }

    .hide-reset {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 360px) {
  body {
    section.articles {
      .base-article {
        width: 320px;
        align-items: flex-start;

        .article-img-container {
          img {
            width: 320px;
            height: 300px;
          }
        }

        .article-text {
          h1 {
            font-size: 3.2rem;
          }

          p {
            font-size: 1.6rem;
          }
          button {
            padding: 1.5rem 4rem;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 410px) {
  body {
    section.articles {
      .base-article {
        width: 370px;
        align-items: flex-start;

        .article-text {
          h1 {
            font-size: 3.6rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 540px) {
  body {
    section.articles {
      .base-article {
        width: 450px;
        align-items: flex-start;
        .article-img-container {
          img {
            width: 360px;
            height: 330px;
          }
        }
        .article-text {
          h1 {
            font-size: 3.2rem;
          }

          p {
            line-height: 2rem;
          }

          p,
          button {
            font-size: 1.8rem;
          }
          button {
            padding: 1.5rem 4rem;
          }
        }
      }
      .modal {
        width: 490px;

        p,
        h3 {
          margin-left: 3rem;
        }
        p,
        .clicks-number {
          font-size: 1.6rem;
        }
        h3 {
          font-size: 3.2rem;
        }

        div {
          span {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 760px) {
  body {
    section.articles {
      .base-article {
        width: 650px;
        align-items: flex-start;
        .article-img-container {
          img {
            width: 560px;
          }
        }
        .article-text {
          h1 {
            font-size: 3.6rem;
          }

          p {
            line-height: 2rem;
          }

          p,
          button {
            font-size: 1.8rem;
          }
          button {
            padding: 2rem 4.6rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 910px) {
  body {
    section.articles {
      .base-article {
        width: 100%;
        flex-flow: row wrap;
        .article-img-container {
          img {
            width: 100%;
          }
        }
        .article-text {
          width: 50%;
          margin-left: 3rem;
          h1 {
            margin-top: 2rem;
            font-size: 3.6rem;
          }

          p {
            line-height: 2rem;
          }

          p,
          button {
            font-size: 1.8rem;
            margin-top: 2rem;
          }
          button {
            padding: 1.6rem 3.8rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    section.articles {
      .base-article {
        width: 100%;
        flex-flow: row wrap;
        .article-img-container {
          img {
            width: 505px;
          }
        }
        .article-text {
          width: 380px;
          margin-left: 9.5rem;

          h1 {
            margin-top: 2rem;
            font-size: 4.2rem;
          }

          p {
            line-height: 2.4rem;
          }

          p,
          button {
            font-size: 1.6rem;
            margin-top: 2rem;
          }
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 128px;
            height: 48px;
            font-weight: 700;
          }
        }
      }
      .modal {
        width: 920px;

        p,
        h3 {
          margin-left: 3rem;
        }
        p,
        .clicks-number {
          font-size: 1.6rem;
        }
        h3 {
          font-size: 4.2rem;
          margin-top: 4.6rem;
        }

        div {
          top: 4.6rem;
          right: 4.6rem;
          span {
            font-size: 2.5rem;
          }
        }

      }
    }
  }
}
